nav {
  font-family: 'Bungee', cursive;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-right: 1.5em;
  font-size: 30px;
  display: flex; 
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.write {
  font-family: 'Source Sans Pro'; font-weight: 600;
}

.aNewTweet {
  font-family: 'Source Sans Pro'; font-weight: 300;
}

.fa-angles-down {
  display: flex; justify-content: center; color: red;
}