main.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f4f1ec;
  font-family: 'Bungee', cursive;
}

button {
  background-color: rgb(59, 59, 252);
  color: white;
}

section.new-tweet {
  background-color: rgb(221, 221, 243);
  margin-top: 20px;
  width: 530px;
}

[id="tweet-text"] {
  width: 500px;
  height: 40px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgb(221, 221, 243);
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

[action="/tweets"] {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

div.submitLine {
  display: flex;
  justify-content: space-between;
}

.negative {
  color: red;
}

.positive {
  color: rgb(84, 81, 73);
}

.tweet-container {
  margin-top: 20px;
  height: 300px;
  border-color: rgb(84, 81, 73);
  border-style: solid;
  font-family: 'Source Sans Pro';
}
.tweet-container:hover {
  box-shadow: 5px 10px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.resize {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.twitter-handle {
  color: rgb(203, 203, 235);
  font-size: large;
  font-weight: 600;
}

.tweet-header-left {
  display: flex;
  align-items: center;
}

.tweet-content {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: rgb(84, 81, 73);
  border-bottom: solid;
  font-weight: 600;
}

.tweet-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  font-size: medium;
  font-weight: 600;
}

.tweet-footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  height: 40px;
}

.fa-heart:hover {
  color: orangered;
}

.fa-flag:hover {
  color: orangered;
}

.fa-retweet:hover {
  color: orangered;
}

.errorMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  border: solid;
  border-color: red;
  color: red;
}

/* bouncing animation for drop-down tweet button */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}
.fa-angles-down {   
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.fa-angles-down:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}